(
    hp: 10,
    move_budget: 2,
    attack_range: 1,
    attack_damage: 4,
    gold_upkeep: 1,
    production_cost: 20,
    build_targets: [],
    terrain_cost: {
        "grassland": 1,
        "hill": 2,
        "forest": 2,
        "mountain": 99999,
    },
)
